.cyan {
  border-top: 5px solid $Cyan;
}

.red {
  border-top: 5px solid $Red;
}

.blue {
  border-top: 5px solid $Blue;
}

.orange {
  border-top: 5px solid $Orange;
}

.separationCard {
  margin-top: 3rem;
}
