/* COLORS */

/* primary */

$Red: rgb(233, 82, 82);
$Cyan: rgb(69, 211, 211);
$Orange: rgb(252, 175, 74);
$Blue: rgb(84, 157, 242);

/* neutral */

$VeryDarkBlue: rgb(76, 78, 97);
$GrayishBlue: rgb(163, 165, 173);
$VeryLightGray: rgb(249, 249, 249);

/* RESPONSIVE */

$sm: 37.5rem;
$md: 76.8rem;
